@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #000;
}

header {
  padding-top: 150px;
  background-color: #000;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container_tri {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 70%;
  justify-content: center;
}

.search_container {
  height: 46px;
  width: 100%;
}

.search_container input {
  background-color: #222;
  color: #fff;
  border: none;
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Noto Sans", sans-serif;
}

.search_container input::placeholder {
  text-align: center;
  color: rgba(245, 245, 245, 0.555);
  font-size: 1rem;
}

.container_tri button {
  padding: 10px 20px;
  font-size: 1rem;
  font-family: "Noto Sans", sans-serif;
  border: none;
  background-color: #c62828;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.container_tri button:hover {
  background-color: #e53935;
  transform: translateX(3px);
}

.tri_btn {
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tri_btn button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  cursor: pointer;
}

.tri_btn button:hover {
  color: #e53935;
  font-size: 2.1rem;
}

.tri_btn button.active {
  color: #e53935;
}

.container_card_tri {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
}

.container_tri_liste {
  width: 20%;
  padding-left: 15px;
}

.container_tri_liste h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.container_tri_liste ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.5rem;
}

.container_tri_liste ul li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.container_tri_liste ul li:hover {
  color: #e53935;
}

.container_tri_liste ul li.active {
  color: #e53935;
}

.container_card {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.container_card::after {
  content: "";
  flex: auto;
}
